@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-indicator:before {
    content: '';
    background: #00000080;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .loading-indicator:after {
    content: ' ';
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 10010;
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:1.2rem;        
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #0474bf; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Media query for tablets and mobile devices */
@media only screen and (max-width: 768px) {
  .loading-indicator:after {
    top: 45%;
    left: 45%;
    width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #0474bf; /* Blue */
    /* transform: translate(-50%, -50%); */
  }
}


.sort-asc::after {
  content: " ↑";
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
}

.sort-desc::after {
  content: " ↓";
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
}


.table th:first-child {
  position: relative;
}

td{
  text-align: center;
}

th{
  text-align: center;
}